# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven specific files
target/

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# NetBeans files
nb-configuration.xml

# Visual Studio Code files
.vscode/
